//Direction
$direction: rtl;

//Backgrounds
$header-background-color: rgb(0,211,230);
$footer-background-color: #33455d;
$dark-footer-background-color: #2a394d;
$grey-background-color: rgb(249,251,253);
$white-background-color: rgb(255,255,255);

//Buttons
$buy-button-color: rgb(0,211,230);
$white-button-color: rgb(255,255,255);

//Font Header

$blue-header-font-color: #33455d;

$blue-menu-font-color: #4f778a;

$dark-blue-results-font-color: #33455d;
$blue-results-font-color: #4f778a;
$blue-results-background-color: #4f778a;
$table-header-background-color: rgba(79,120,138, 0.02);
$red-font-color: #f93b42;

$grey-stars-color: #d0dde4;
$yellow-stars-color: #fbb575;

//Width/Length
$main-width: 1102px;
$max-main-width: 1102px;

$header-btn-icons-height: 29px;

//Border
$border-color: #d9e4ea;


