.header-nav {
    margin: auto;
    width: 100%;
    padding-top: 15px;
    background-color: $header-background-color;
}

.header-nav-wrap {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: auto;
    width: $main-width;

    .header-nav-left-wrap {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        width: 50px;

        .icon-user {
           padding: 0 7px 2px 2px;
        }

        .icon-pipe {
            padding: 0 0 0 2px;
        }

        .icon-letter {
            padding: 0 0 0 12px;
        }
    }

    .header-nav-right-wrap {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
        color: $blue-header-font-color;
        font-size: 16px;
        height: 36px;
        width: 1000px;

        #search-check {
            display: none;

            &:checked ~ .search-input-container {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;
                width: 500px;
                height: 34px;
                padding: 0 15px 0 15px;
                background-color: $white-background-color;
                border: none;
                border-radius: 24px;

                #header-search-input {
                    display: inline-block;
                    width: 100%;
                    background-color: $white-background-color;
                }
            }

            &:not(:checked) ~ .search-input-container {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;
                width: 4%;
                height: 34px;
                padding: 0 10px 0 15px;
                background-color: $header-background-color;
                border: none;
                border-radius: 24px;

                -webkit-transition: all .4s ease;
                -moz-transition: all .4s ease;
                transition: all .4s ease;

                #header-search-input {
                    display: none;
                    width: 0%;
                    background-color: $header-background-color;
                }
            }
        }


        .search-input-container {
            float:left;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            width: 30px;
            height: 34px;
            padding: 0 25px 0 15px;
            margin-right: 10px;
            background-color: $header-background-color;
            border: none;
            border-radius: 24px;

            -webkit-transition: width .4s ease;
            -moz-transition: width .4s ease;
            transition: width.4s ease;

            #header-search-input {
                display: none;
                direction: $direction;
                width: 0px;
                border: inherit;
                outline: inherit;
                font-size: 16px;
                font-family: "Arial";
                text-align: right;
                color: $blue-menu-font-color;
            }
        }


        .icon-search {
            margin: 0 15px 0 0;
            align-self: center;
            height: 17px;
        }

        .icon-pipe {
            margin: 3px -24px 0 0;
            align-self: center;
            height: 12px;
        }

        .header-nav-btn-select {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            width: 190px;
            background-color: $header-background-color;
            border: none;
            color: $blue-header-font-color;
            font-size: 24px;
            font-weight: bold;
            font-family: "SpoilerHE";
            padding: 2px 0 2px 0;

            transition:all 0.2s linear;

            padding-bottom:5px;
            background: linear-gradient(to right, $blue-menu-font-color 0%,$blue-header-font-color 98%);
            background-size:0px 2px;
            background-repeat: no-repeat;
            background-position:70% 80%;;

            &:hover{
                background-size:65% 2px;
            }

            .header-nav-btn-text {
                position: relative;
                margin: 4px 0 0 0;
                padding: 0;
                display: inline-block;
                width: 100%;

                .chair-icon {
                    display: inline-block;
                    position: absolute;
                    padding: 3px 0 0 0;
                    bottom: 2px;
                    left: 150px;
                    height:$header-btn-icons-height;
                }

                .header-nav-btn-icon {
                    margin: 4px 3px 7px 0;
                }

            }
        }

        .header-nav-btn-comp {
            background-color:$blue-header-font-color;
            border: none;
            color: $grey-background-color;
            height: 100%;
            padding: 0 6px 1px 7px;
            font-size: 22px;
            font-family: "Arial";
            text-align: center;
            border-radius: 2px;
        }
    }
}

.header {
    display: flex;
    height: 285px;
    width: 100%;
    padding: 0 0 65px 0;
    background-color: $header-background-color;

    .header-text {
        margin: 0 auto;
        width: 658px;
        align-self: center;
        text-align: center;
        direction: $direction;
        color: $blue-header-font-color;


        h1 {
            margin: 0;
            font-size: 55px;
            font-family: "SpoilerHE";

            .car-icon {
                cursor: inherit;
                height: 48px;
                padding: 0 5px;
            }
        }

        .header-descr {
            margin: 0;
            font-size: 26px;
            font-weight: bold;
            font-family: "SpoilerHE";
            line-height: 31px;
        }
    }
}
