.results-steps {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    direction: $direction;
    height: 78px;
    width: 100%;
    padding: 20px 30px 13px 0 ;


    .step {
        display:inline-flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        height: 47px;

        .step-icon {
            padding: 0 0 0 5px;

        }

        .step-number {
            color: $blue-results-font-color;
            font-family: "SpoilerHE";
            font-size: 50px;
            font-weight: 300;
            padding: 0 0 2px 3px;

        }

        .step-descr {
            color: $blue-results-font-color;
            font-family: "SpoilerHE";
            font-size: 18px;
            font-weight: 300;
            text-align: right;
            line-height: 85%;
            padding: 3px 0 0 0;
            width: 138px;
        }

        .descr-1 {
            width: 109px;
        }

        .descr-2 {
            width: 185px;
        }

        .descr-3 {
            width: 150px;
        }

        .descr-4 {
            width: 131px;
        }
    }

    .arrow {
        align-self: center;
        position: relative;
        width: 25px;
        height: 25px;


        .circle-icon {
            position: absolute;
        }

        .arrow-icon {
            position: absolute;
            top: 8px;
            left: 6px;
        }
    }

}
